<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}Latest Technology News and Updates{{ end }}">
<meta name="author" content="LTN">
<link rel="canonical" href="{{ .Permalink }}">
<meta property="og:title" content="{{ if .IsHome }}LTN - Latest Tech News{{ else }}{{ .Title }} - LTN{{ end }}">
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}Latest Technology News and Updates{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="LTN">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta name="google-adsense-account" content="ca-pub-1972054405555560">
<meta name="verify-admitad" content="0d20ba0ae9" />
